/* General template */
.header {
    padding: 1.5rem;
    margin: 10px 0 20px 0;
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
}
.nav {
    --bs-breadcrumb-divider: url(
        "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
}
.breadcrumb-item {
    line-height: 34px;
}
#main{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
@media screen and (max-width: 1400px) {
    #main {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 992px) {
    #main {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 375px) {
    #main {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Card template */
.pocket {
    background: linear-gradient(145deg,#e2e8ec,#fff);;
    box-shadow: 5px 5px 15px #d1d9e6,-5px -5px 15px #fff;;
    border-radius: 6px;
    border: 0;
    overflow: hidden;
    justify-content: space-between;
}
.pocket h6 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.pocket .options-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.pocket img {
    min-height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.pocket img.folder {
    object-fit: contain;
}
.pocket .options-layer {
    background-color: rgba(0, 0, 255, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    transition: transform 0.25s ease;
    transform: translateY(101%);
}
.pocket .options-layer.show {
    transform: translateY(0);
}

.pocket .description {
    overflow-y: auto;
}
.pocket .buttons span {
    cursor: pointer;
    text-align: center;
}
.pocket .options {
    cursor: pointer;
    text-decoration: none;
}

/* Actions menu */
.action {
    border-radius: 50%;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #fff;
    text-align: center;
    color: #000;
    cursor: pointer;
}
#list {
    width: 60px;
    height: 60px;
    line-height: 58px;
    z-index: 1;
    right: 2em;
    bottom: 2em;
}
.action-sm {
    width: 40px;
    height: 40px;
    line-height: 38px;
    right: 2.5em;
    bottom: 2.5em;
    transition: transform .4s;
}
#new.open {
    transform: translate(-0.7em, -4em);
}
#folder.open {
    transform: translate(-4em, -0.7em);
}

.alert.notification {
    top: 0.5em;
    right: 4em;
}

#deleteInputId {
    box-shadow: none;
    border-color: #ced4da;
}
#userForm {
    border: 1px solid #dee2e6;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
#offcanvasNavbar {
    z-index: 2000;
}
#offcanvasNavbar .nav li:hover {
    background-color: #0d6efd;
}
#offcanvasNavbar .nav li:hover > a {
    color: #fff;
}
.top-screen {
    background-color: #00000085;
    height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
}
.top-screen:hover {
    opacity: 1;
    transition: opacity .4s;
}
.user-avatar {
    object-fit: cover;
}
.pocket .card-body:hover {
    background-color: #000000ad;
    color: #fff;
}